[core]
  autocrlf = input
  safecrlf = true
  excludesfile = ~/.gitignore_global
  editor = vim
  mergetool = vimdiff
[user]
  name = Steve Cherry
  email = steve@stevecherry.net
[alias]
  pf = push --force-with-lease
  stats = shortlog -sn
  praise = blame
[init]
  defaultBranch = main
[push]
  autoSetupRemote = true
