[core]
  autocrlf = input
  safecrlf = true
  excludesfile = ~/.gitignore_global
  editor = vim
  mergetool = vimdiff
[user]
  name = Your Name
  email = you@example.com
[alias]
  pf = push --force-with-lease
  stats = shortlog -sn
  praise = blame
